:root {
    --primary-color: #fbfbf2;
    --secondary-color: #f7c9e4d6;
    --tertiary-color: #d296d2;
    --quaternary-color: #9575bc;
    --quinary-color: #67649f;
    --icon-button-width: 2rem;
    --icon-width: 1.9rem;
}

* {
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
}

.button-icons {
    display: flex;
    width: var(--icon-button-width);
    height: var(--icon-button-width);
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.button-icons:hover {
    background-color: var(--secondary-color);
}

.icons {
    width: var(--icon-width);
}

.search-box {
    outline: none;
    border: none;
    background: none;
    color: var(--quaternary-color);
}

.search-box::placeholder {
    color: var(--quaternary-color);
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--tertiary-color);
}
