:root {
    --primary-color: #fbfbf2;
    --secondary-color: #f7c9e4d6;
    --tertiary-color: #d296d2;
    --quaternary-color: #9575bc;
    --quinary-color: #67649f;
    --icon-button-width: 2.5vmax;
    --icon-width: 2rem;
}

* {
    font-family: "Ubuntu", sans-serif;
    color: var(--primary-color);
}

.button-icons {
    display: flex;
    min-width: var(--icon-button-width);
    height: var(--icon-button-width);
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.button-icons:hover {
    background-color: var(--secondary-color);
}

.icons {
    width: var(--icon-width);
}

span {
    color: var(--quinary-color);
}

.search-box {
    outline: none;
    border: none;
    background: none;
    color: var(--quaternary-color);
}

.search-box::placeholder {
    color: var(--quaternary-color);
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

body {
    max-width: 100dvw;
    max-height: 100dvh;
    background-image: url(../assets/img/sScwdFB-pastel-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cta__buttons {
    border: none;
    padding: 0.5rem 0.6rem;
    border-radius: 100px;
    background-color: var(--quinary-color);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    width: 9rem;
    aspect-ratio: 3/1;
}

.cta__buttons:hover {
    background-color: var(--quinary-color);
    box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(251, 251, 242, 0.25);
    transform: translateY(-1rem) scale(1.3);
}
