#main-cta {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 15dvh;
    gap: 5vh;
    width: 100%;
}

#logo-centro {
    width: 50vh;
    fill: var(--primary-color);
}

#main-cta > div {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 3vw;
}

@media (max-width: 840px) {
    #main-cta > div {
        flex-flow: column;
        gap: 4.5vh;
    }
    .cta__buttons {
        width: 10rem;
    }
}
