#main-cta {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    margin-top: 15dvh;
    gap: 5vh;
}

#logo-centro {
    width: 50vh;
}

#main-cta > div {
    display: flex;
    gap: 3vw;
}
