@import url(default.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fbfbf2;
}

a:active {
    text-decoration: none;
    color: #fbfbf2;
}

a:visited {
    text-decoration: none;
    color: #fbfbf2;
}
